@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'RetroFont';
  src: url('/fonts/kongtext.ttf') format('truetype');
}

@theme inline {
  --color-text: #ffffff;
  --color-textsecondary: #aaaaaa;
  --color-primary: #f542e9;
  --color-secondary: #42f560;
  --color-background: #212529;
  --color-accent: #eff542;
  --color-error: #f54263;
  --font-primary: 'RetroFont', 'Press Start 2P', sans-serif;
  --font-size-standard: 1em;
  --font-size-large: 1.5em;
  --font-size-small: 0.75em;
}

html {
  font-size: 16px;
  font-size-adjust: 0.63;
}
